.banner {
    position: relative;
    padding: var(--padding);

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url(../../assets/banner.avif);
        background-size: cover;
        background-position: right center;
        z-index: -2;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0, .45);
        z-index: -1;
    }

    .conteudo {
        color: #FFF;
        text-align: center;
        padding: 2rem;
        border-radius: .375rem;
        max-width: 800px;
        height: max-content;
        display: block;
        margin-inline: auto;

        h2 {
            margin-top: 2rem;
        }
    }    
}